--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: PdfAccessType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PdfAccessType" AS ENUM (
    'VIEW',
    'DOWNLOAD',
    'PAID'
);


ALTER TYPE public."PdfAccessType" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Account; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Account" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    provider text NOT NULL,
    "providerAccountId" text NOT NULL,
    refresh_token text,
    access_token text,
    expires_at integer,
    token_type text,
    scope text,
    id_token text,
    session_state text
);


ALTER TABLE public."Account" OWNER TO postgres;

--
-- Name: Admin; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Admin" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    name text,
    bio text,
    "displayName" text,
    facebook text,
    "firstName" text,
    github text,
    "lastName" text,
    linkedin text,
    "phoneNumber" text,
    skill text,
    twitter text,
    "userName" text,
    website text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Admin" OWNER TO postgres;

--
-- Name: Banner; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Banner" (
    id integer NOT NULL,
    heading text NOT NULL,
    subheading text NOT NULL,
    "buttonText" text NOT NULL,
    "buttonLink" text,
    "youtubeUrl" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Banner" OWNER TO postgres;

--
-- Name: Banner_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Banner_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Banner_id_seq" OWNER TO postgres;

--
-- Name: Banner_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Banner_id_seq" OWNED BY public."Banner".id;


--
-- Name: Blog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Blog" (
    id integer NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    author text NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    tags text[],
    image text NOT NULL
);


ALTER TABLE public."Blog" OWNER TO postgres;

--
-- Name: Blog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Blog_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Blog_id_seq" OWNER TO postgres;

--
-- Name: Blog_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Blog_id_seq" OWNED BY public."Blog".id;


--
-- Name: Course; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Course" (
    id text NOT NULL,
    title text NOT NULL,
    category text NOT NULL,
    description text,
    thumb text,
    instructors text NOT NULL,
    price double precision,
    "videoUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Course" OWNER TO postgres;

--
-- Name: CourseVideo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CourseVideo" (
    id text NOT NULL,
    title text NOT NULL,
    "videoId" text NOT NULL,
    "playlistId" text NOT NULL,
    overview text,
    "pdfUrl" text,
    access public."PdfAccessType" DEFAULT 'VIEW'::public."PdfAccessType" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CourseVideo" OWNER TO postgres;

--
-- Name: Curriculum; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Curriculum" (
    id text NOT NULL,
    subject text NOT NULL,
    chapters jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Curriculum" OWNER TO postgres;

--
-- Name: LatestVideo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LatestVideo" (
    id text NOT NULL,
    title text NOT NULL,
    description text,
    "videoUrl" text,
    "thumbnailUrl" text,
    tag text,
    review text,
    price double precision,
    lesson integer,
    student integer,
    page text,
    thumb text,
    "youtubeUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."LatestVideo" OWNER TO postgres;

--
-- Name: LegacyChapter; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LegacyChapter" (
    id text NOT NULL,
    title text NOT NULL,
    "timeStamp" text NOT NULL,
    "courseVideoId" text NOT NULL
);


ALTER TABLE public."LegacyChapter" OWNER TO postgres;

--
-- Name: MCQ; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MCQ" (
    id text NOT NULL,
    question text NOT NULL,
    options jsonb NOT NULL,
    "correctIndex" integer NOT NULL,
    "topicId" text,
    "subtopicId" text,
    explanation text
);


ALTER TABLE public."MCQ" OWNER TO postgres;

--
-- Name: OTP; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."OTP" (
    id text NOT NULL,
    email text NOT NULL,
    code text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."OTP" OWNER TO postgres;

--
-- Name: PaidAccess; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PaidAccess" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "videoId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PaidAccess" OWNER TO postgres;

--
-- Name: ResetToken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ResetToken" (
    id text NOT NULL,
    token text NOT NULL,
    "userId" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ResetToken" OWNER TO postgres;

--
-- Name: Session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Session" (
    id text NOT NULL,
    "sessionToken" text NOT NULL,
    "userId" text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Session" OWNER TO postgres;

--
-- Name: Subject; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Subject" (
    id text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public."Subject" OWNER TO postgres;

--
-- Name: SubjectChapter; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SubjectChapter" (
    id text NOT NULL,
    title text NOT NULL,
    "subjectId" text NOT NULL
);


ALTER TABLE public."SubjectChapter" OWNER TO postgres;

--
-- Name: Subtopic; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Subtopic" (
    id text NOT NULL,
    title text NOT NULL,
    "topicId" text NOT NULL,
    "youtubeUrl" text NOT NULL,
    "pdfUrl" text,
    "mcqUrl" text,
    "caseStudyUrl" text,
    "pdfAccess" public."PdfAccessType" DEFAULT 'VIEW'::public."PdfAccessType" NOT NULL
);


ALTER TABLE public."Subtopic" OWNER TO postgres;

--
-- Name: Topic; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Topic" (
    id text NOT NULL,
    title text NOT NULL,
    "chapterId" text NOT NULL,
    "youtubeUrl" text,
    "pdfUrl" text,
    "mcqUrl" text,
    "caseStudyUrl" text,
    "pdfAccess" public."PdfAccessType"
);


ALTER TABLE public."Topic" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text,
    email text,
    "emailVerified" timestamp(3) without time zone,
    image text,
    fname text,
    lname text,
    phone text,
    country text,
    state text,
    city text,
    university text,
    password text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "isVerified" boolean DEFAULT false NOT NULL,
    "isNewUser" boolean DEFAULT true NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: Banner id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Banner" ALTER COLUMN id SET DEFAULT nextval('public."Banner_id_seq"'::regclass);


--
-- Name: Blog id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Blog" ALTER COLUMN id SET DEFAULT nextval('public."Blog_id_seq"'::regclass);


--
-- Data for Name: Account; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Account" (id, "userId", type, provider, "providerAccountId", refresh_token, access_token, expires_at, token_type, scope, id_token, session_state) FROM stdin;
\.


--
-- Data for Name: Admin; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Admin" (id, email, password, name, bio, "displayName", facebook, "firstName", github, "lastName", linkedin, "phoneNumber", skill, twitter, "userName", website, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Banner; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Banner" (id, heading, subheading, "buttonText", "buttonLink", "youtubeUrl", "createdAt", "updatedAt") FROM stdin;
1	Cerebellum Cadaveric Gross Anatomy 	Lobes, Surfaces, Fissures & Internal Structures	Get Started Now		https://www.youtube.com/watch?v=-gwSwUMBavM	2025-09-15 10:45:24.768	2025-09-15 10:45:24.768
2	Epithalamus Anatomy	Pineal Gland, Habenula, Habenular Commissure & Stria Medullaris	Get Started Now		https://www.youtube.com/watch?v=Bdr0jHuFgD4	2025-09-15 11:17:59.167	2025-09-15 11:17:59.167
\.


--
-- Data for Name: Blog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Course; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Course" (id, title, category, description, thumb, instructors, price, "videoUrl", "createdAt", "updatedAt") FROM stdin;
cmfp2mb580000uibk83qxodro	Dermatology	Medical	Skin And Its Concerns	/uploads/819baec7-fe8c-4969-91f3-b6377c743b5d-dermatology.jpg	Dr. Bhanu Prakash	5000	https://www.youtube.com/watch?v=-y5EJCndRPU	2025-09-18 07:09:59.553	2025-09-18 07:09:59.553
\.


--
-- Data for Name: CourseVideo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CourseVideo" (id, title, "videoId", "playlistId", overview, "pdfUrl", access, "createdAt") FROM stdin;
\.


--
-- Data for Name: Curriculum; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: LatestVideo; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: LegacyChapter; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."LegacyChapter" (id, title, "timeStamp", "courseVideoId") FROM stdin;
\.


--
-- Data for Name: MCQ; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."MCQ" (id, question, options, "correctIndex", "topicId", "subtopicId", explanation) FROM stdin;
\.


--
-- Data for Name: OTP; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."OTP" (id, email, code, "expiresAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: PaidAccess; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PaidAccess" (id, "userId", "videoId", "createdAt") FROM stdin;
\.


--
-- Data for Name: ResetToken; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ResetToken" (id, token, "userId", "expiresAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: Session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Session" (id, "sessionToken", "userId", expires) FROM stdin;
\.


--
-- Data for Name: Subject; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Subject" (id, name) FROM stdin;
\.


--
-- Data for Name: SubjectChapter; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SubjectChapter" (id, title, "subjectId") FROM stdin;
\.


--
-- Data for Name: Subtopic; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Subtopic" (id, title, "topicId", "youtubeUrl", "pdfUrl", "mcqUrl", "caseStudyUrl", "pdfAccess") FROM stdin;
\.


--
-- Data for Name: Topic; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Topic" (id, title, "chapterId", "youtubeUrl", "pdfUrl", "mcqUrl", "caseStudyUrl", "pdfAccess") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, name, email, "emailVerified", image, fname, lname, phone, country, state, city, university, password, "createdAt", "isVerified", "isNewUser") FROM stdin;
cmg27hoyk0001uieo7u3eifq1	sunaina mahesh	sunainamahesh1@gmail.com	\N	https://lh3.googleusercontent.com/a/ACg8ocKGMAb-0st7Ue83p5HddCwtN2itf1QrXZ8pKaSoQmsFfqYnEkY=s96-c	\N	\N	\N	\N	\N	\N	\N	\N	2025-09-27 11:47:22.649	f	t
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Banner_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Banner_id_seq"', 2, true);


--
-- Name: Blog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Blog_id_seq"', 1, true);


--
-- Name: Account Account_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_pkey" PRIMARY KEY (id);


--
-- Name: Admin Admin_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Admin"
    ADD CONSTRAINT "Admin_pkey" PRIMARY KEY (id);


--
-- Name: Banner Banner_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Banner"
    ADD CONSTRAINT "Banner_pkey" PRIMARY KEY (id);


--
-- Name: Blog Blog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Blog"
    ADD CONSTRAINT "Blog_pkey" PRIMARY KEY (id);


--
-- Name: CourseVideo CourseVideo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseVideo"
    ADD CONSTRAINT "CourseVideo_pkey" PRIMARY KEY (id);


--
-- Name: Course Course_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Course"
    ADD CONSTRAINT "Course_pkey" PRIMARY KEY (id);


--
-- Name: Curriculum Curriculum_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Curriculum"
    ADD CONSTRAINT "Curriculum_pkey" PRIMARY KEY (id);


--
-- Name: LatestVideo LatestVideo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LatestVideo"
    ADD CONSTRAINT "LatestVideo_pkey" PRIMARY KEY (id);


--
-- Name: LegacyChapter LegacyChapter_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LegacyChapter"
    ADD CONSTRAINT "LegacyChapter_pkey" PRIMARY KEY (id);


--
-- Name: MCQ MCQ_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MCQ"
    ADD CONSTRAINT "MCQ_pkey" PRIMARY KEY (id);


--
-- Name: OTP OTP_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OTP"
    ADD CONSTRAINT "OTP_pkey" PRIMARY KEY (id);


--
-- Name: PaidAccess PaidAccess_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaidAccess"
    ADD CONSTRAINT "PaidAccess_pkey" PRIMARY KEY (id);


--
-- Name: ResetToken ResetToken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ResetToken"
    ADD CONSTRAINT "ResetToken_pkey" PRIMARY KEY (id);


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: SubjectChapter SubjectChapter_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SubjectChapter"
    ADD CONSTRAINT "SubjectChapter_pkey" PRIMARY KEY (id);


--
-- Name: Subject Subject_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subject"
    ADD CONSTRAINT "Subject_pkey" PRIMARY KEY (id);


--
-- Name: Subtopic Subtopic_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subtopic"
    ADD CONSTRAINT "Subtopic_pkey" PRIMARY KEY (id);


--
-- Name: Topic Topic_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Topic"
    ADD CONSTRAINT "Topic_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Account_provider_providerAccountId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON public."Account" USING btree (provider, "providerAccountId");


--
-- Name: Admin_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Admin_email_key" ON public."Admin" USING btree (email);


--
-- Name: OTP_email_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "OTP_email_idx" ON public."OTP" USING btree (email);


--
-- Name: ResetToken_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ResetToken_token_key" ON public."ResetToken" USING btree (token);


--
-- Name: Session_sessionToken_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Session_sessionToken_key" ON public."Session" USING btree ("sessionToken");


--
-- Name: SubjectChapter_subjectId_title_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "SubjectChapter_subjectId_title_key" ON public."SubjectChapter" USING btree ("subjectId", title);


--
-- Name: Subject_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Subject_name_key" ON public."Subject" USING btree (name);


--
-- Name: Topic_chapterId_title_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Topic_chapterId_title_key" ON public."Topic" USING btree ("chapterId", title);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Account Account_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LegacyChapter LegacyChapter_courseVideoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LegacyChapter"
    ADD CONSTRAINT "LegacyChapter_courseVideoId_fkey" FOREIGN KEY ("courseVideoId") REFERENCES public."CourseVideo"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: MCQ MCQ_subtopicId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MCQ"
    ADD CONSTRAINT "MCQ_subtopicId_fkey" FOREIGN KEY ("subtopicId") REFERENCES public."Subtopic"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: MCQ MCQ_topicId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MCQ"
    ADD CONSTRAINT "MCQ_topicId_fkey" FOREIGN KEY ("topicId") REFERENCES public."Topic"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PaidAccess PaidAccess_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaidAccess"
    ADD CONSTRAINT "PaidAccess_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ResetToken ResetToken_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ResetToken"
    ADD CONSTRAINT "ResetToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Session Session_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SubjectChapter SubjectChapter_subjectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SubjectChapter"
    ADD CONSTRAINT "SubjectChapter_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES public."Subject"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Subtopic Subtopic_topicId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subtopic"
    ADD CONSTRAINT "Subtopic_topicId_fkey" FOREIGN KEY ("topicId") REFERENCES public."Topic"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Topic Topic_chapterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Topic"
    ADD CONSTRAINT "Topic_chapterId_fkey" FOREIGN KEY ("chapterId") REFERENCES public."SubjectChapter"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

